#product-img{
    width: 100%;
    height: 250px;
}
.product-card{
    height:20vh;
    box-shadow: 3px 3px 6px violet;
    margin-bottom: 20px;
    background-color: #000;
}
.product-desc{
    box-shadow: 0;
    background: #000;
}